/*
EquipUI
*/

@import url('https://fonts.googleapis.com/css?family=Nunito');
*{font-family: 'Nunito', sans-serif;transition: ease all 300ms;-webkit-transition: ease all 300ms;-moz-transition: ease all 300ms;-o-transition: ease all 300ms;}

body{background: transparent;}

#main{margin-top: 10%; background: white; height: 550px !important;}

hr{width: 250px; height: 1px;}