/*
LobbyUI
*/


@import url('https://fonts.googleapis.com/css?family=Nunito');
*{font-family: 'Nunito', sans-serif;transition: ease all 300ms;-webkit-transition: ease all 300ms;-moz-transition: ease all 300ms;-o-transition: ease all 300ms;}

body{background: transparent;}

#main{margin-top: 10%; background: white; padding: 0;}

hr{width: 250px; height: 1px;}

table {display: flex;flex-flow: column;max-height: 300px;width: 100%;}

table thead {flex: 0 0 auto;width: calc(100% - 0.9em);}

table tbody {flex: 1 1 auto;display: block;overflow-y: scroll;}

table tbody tr {width: 100%;}

table thead, table tbody tr {display: table;table-layout: fixed;}

#closeLobbyUI{position: absolute; top: -77px;right: 28px;}

/*.btn-success:hover{background-color: #28a745 !important;}

.btn-danger:hover{background-color: #dc3545 !important;}
*/